<?xml version="1.0"?>
<!-- 
/**
 * @category   Cammino
 * @package    Cammino_Banners
 * @author     ModuleCreator
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 -->
<config>
    <modules>
        <Cammino_Banners>
            <version>0.2.0</version>
        </Cammino_Banners>
    </modules>
    <frontend>
        <routers>
            <banners>
                <use>standard</use>
                <args>
                    <module>Cammino_Banners</module>
                    <frontName>banners</frontName>
                </args>
            </banners>
        </routers>
        <layout>
            <updates>
                <banners>
                    <file>banners.xml</file>
                </banners>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<banners>
				<use>admin</use>
				<args>
					<module>Cammino_Banners</module>
					<frontName>banners</frontName>
				</args>
			</banners>
        </routers>
    </admin>
    <adminhtml>
		<translate>
			<modules>
				<Cammino_Banners>
					<files>
						<default>Cammino_Banners.csv</default>
					</files>
				</Cammino_Banners>
			</modules>
		</translate>
		<menu>
			<cms>
				<children>
					<banners module="banners">
						<title>Banners</title>
						<sort_order>100</sort_order>               
						<action>banners/adminhtml_banners</action>
					</banners>
				</children>
			</cms>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Cammino_Banners>
							<title>Banners Module</title>
							<sort_order>10</sort_order>
						</Cammino_Banners>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<banners>
					<file>banners.xml</file>
				</banners>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <banners>
                <class>Cammino_Banners_Model</class>
                <resourceModel>banners_mysql4</resourceModel>
            </banners>
            <banners_mysql4>
                <class>Cammino_Banners_Model_Mysql4</class>
                <entities>
                    <banners>
                        <table>banners</table>
                    </banners>
                </entities>
            </banners_mysql4>
        </models>
        <resources>
            <banners_setup>
                <setup>
                    <module>Cammino_Banners</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </banners_setup>
            <banners_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </banners_write>
            <banners_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </banners_read>
        </resources>
        <blocks>
            <banners>
                <class>Cammino_Banners_Block</class>
            </banners>
        </blocks>
        <helpers>
            <banners>
                <class>Cammino_Banners_Helper</class>
            </banners>
        </helpers>
    </global>
</config>